﻿@model Vidly.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dddd"), @Model.ReleaseDate.ToString("MMMM") @Model.ReleaseDate.ToString("dd, yyy")</li>
    <li>Date Added: @Model.DateAdded.ToString("dddd"), @Model.DateAdded.ToString("MMMM") @Model.DateAdded.ToString("dd, yyy")</li>
    <li>Number in Stock: @Model.StockNumber</li>
</ul>