﻿@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthday != null)
    {
        var date = Model.Birthday.HasValue ? Model.Birthday.Value.ToString("dd/MM/yyyy") : string.Empty;

        <li>Birthday: @date</li>
    }
</ul>